
/* added to base CSS given by medium tutorial */
/* COLORS */
:root {
    --text: rgba(70, 63, 58); /* #463f3a */
    --dark: rgba(138, 129, 124); /* #8a817c */
    --accent: rgba(224, 175, 160); /* #E0AFA0 */
    --accent-dark: rgba(140, 109, 100); /* #8C6D64 */
    --accent-bright: rgba(235, 121, 98); /* #EB7962 */
    --accent-bright-dark: rgba(200, 88, 65); /* #C85841 */
    --light-1: rgba(188, 184, 177); /* #bcb8b1 */
    --light-2: rgba(244, 243, 238); /* #f4f3ee */
    --accent-2: rgba(160, 209, 224); /* #A0D1E0 */
    --accent-2-dark: rgba(120, 157, 168); /* #789DA8 */
    --accent-3: rgba(193, 224, 160); /* #C1E0A0 */
    --accent-3-dark: rgba(134, 191, 74); /* #86BF4A */
}

::-moz-selection { /* highlight colors */
    background: var(--dark);
    color: white;
}

::selection {
    background: var(--dark);
    color: white;
}

/* GENERAL */
* { /* apply to all elements */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body { /* set default font family, size, color, etc. for webpage */
    background: var(--accent);
    font-family: Mulish;
    font-size: calc(14px + 0.4vw);
    line-height: calc(24px + 0.6vw);
    font-weight: 300;
    color: var(--text);
    min-height: 100vh;
    overflow-x: hidden;
}

.todo-container { /* outer container for todo list */
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 40px 20px;
    width: 600px;
    transform: translate(-50%,-50%);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.todo { /* inner todo list container */
    min-width: 400px;
}

.todo-container h2 { /* todo list title styling */
    padding: 10px;
    font-family: 'Be Vietnam Pro';
    font-size: 2em;
    font-weight: 800;
    margin-bottom: 10px;
    transition: 0.5s;
    letter-spacing: calc(1.5px + 0.1vw);
}

.todo-header { /* todo list header area */
    display: flex;
    transition: 0.5s;
}

.todo-header input { /* new todo task input field */
    width: 90%;
    border: none;
    border-radius: 5px 0 0 5px;
    height: calc(32px + 1.2vw);
    font-family: 'Mulish';
    font-size: calc(14px + 0.4vw);
    padding: 0 15px;
    color: var(--text);
    transition: 0.5s;
}

input:focus-visible, input:focus, input:active,
input:focus-within, input:focus-visible {
    /* change outline color of input field on focus */
    outline-color: var(--accent-2-dark);
    transition: 0.5s;
}

.todo-header button { /* add button styling */
    color: white;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    padding: 13px;
    height: calc(32px + 1.2vw);
    width: 10%;
    background-color: var(--accent-2);
    transition: 0.5s;
}

.todo-header button:hover { /* change color when button is hovered on */
    background-color: var(--accent-2-dark);
    transition: 0.5s;
}

.todo-container ul { /* todo list styling */
    list-style: none;
}

.todo-list-item { /* styling for individual todo items */
    padding: 10px;
    margin-top: 10px;
    padding-left: 15px;
    border: none;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: row;
}

.todo-list-item form { /* todo item edit view */
    width: 100%;
    display: flex;
}

.todo-list-item input { /* input field in edit view */
    flex-grow: 2;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    font-family: 'Mulish';
    font-size: calc(14px + 0.4vw);
    padding: 0 10px;
    color: var(--text);
}

.todo-list-item button { /* buttons in edit view */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 10px;
    background-color: var(--accent-3-dark);
    font-size: smaller;
    font-family: 'Mulish';
    opacity: 0.9;
    transition: 0.5s;
}

.todo-list-item .cancel { /* cancel button styling */
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 10px;
    background-color: var(--accent-bright-dark);
    margin-left: 5px;
    font-size: smaller;
    opacity: 0.9;
    transition: 0.5s;
}

.todo-list-item button:hover, 
.todo-list-item .cancel:hover { /* confirm/cancel button on hover */
    opacity: 1;
    transition: 0.5s;
}

.todo-list-item div { /* inner div container for todo items */
    flex-grow: 2;
    transition: 0.5s;
    cursor: pointer;
}

.todo-list-item div.done {
    text-decoration: line-through;
}

.todo-list-item .edit { /* edit button styling */
    color : var(--accent-3);
    margin-right: 10px;
    cursor: pointer;
    text-decoration: none;
    opacity: 0.8;
    transition: 0.5s;
}

.todo-list-item .remove { /* remove button styling */
    color : var(--accent-bright);
    margin-right: 5px;
    cursor: pointer;
    text-decoration: none;
    opacity: 0.8;
    transition: 0.5s;
}

.todo-list-item .edit:hover, 
.todo-list-item .remove:hover { /* hover styling for edit/remove buttons */
    opacity: 1;
    transition: 0.5s;
}